.psp-card {
    display: grid;
    grid-template-columns: 36px 1fr auto;
    gap: 10px;
    border-bottom: 0.5px solid #929292;
    margin-top: 10px;
    padding: 8px 10px;

    &_img {
        width: auto;
        
        &_fig {
            width: auto;
            img {
                width: 36px;
                border-radius: 999px;
                overflow: hidden;
            }
        }
        i {

        }
    }
    &_details{
        display: grid;
        gap: 1px;
        font-size: 13px;

        &_text1 {
            font-weight: 600;
        }
        &_text2 {
            font-weight: 400;
        }
        &_text3 {
            color: #929292;
            font-size: 12px;
            font-weight: 700;
        }
        &_text4 {
            font-weight: 300;
            display: flex;
            gap: 8px;
        }
    }
}

.iconSystem {
    display: flex;
    font-size: 32px;
}


.miniCard {
    display: flex;
    gap: 8px;
    color: #929292;
    font-size: 16px;
    font-weight: 600;
    align-items: center;

    &_img {
        display: flex;

        i {
            font-size: 24px;
        }
    }
    &_details {

    }

}


.psp-card-profile {
    display: grid;
    gap: 8px;
    justify-content: center;
    text-align: center;

    &_fig {
        display: flex;
        overflow: hidden;
        width: 120px;
        height: 120px;
        border-radius: 999px;
        border: 1px solid #929292;
        margin: auto;

        img {
            width: 120px;
        }
    }
    &_title {
        display: flex;
        gap: 12px;
        color: #000;
        font-size: 24px;
        font-weight: 400;
        align-items: center;
        justify-content: center;
    }
    &_subtitle {
        color: #929292;
        font-size: 16px;
        font-weight: 400;
    }
}