.inputText{
    display: flex;
    padding: 6px 8px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #929292;
    background: #F9F9F9;
    color: #929292;
    font-size: 15px;
    font-weight: 600;
    width: calc(100% - 18px);
}