.opinion {
    display: grid;
    gap: 6px;
    color: #666;
    border-bottom: 1px solid #929292;
    padding: 8px;

    &_top {
        display: flex;
        gap: 12px;
        font-size: 16px;
        font-weight: 600;

        &_ts {
            display: flex;
            justify-content: space-between;
            gap: 8px;
            align-items: center;
        }
    }
    &_bottom {
        font-size: 14px;
        font-weight: 300;
        
        p {
            margin: 0;
        }
    }
}


.score_container {
    display: flex;
    gap: 8px;
}
.score_box {
    display: flex;
    font-size: 16px;
    gap: 4px;

    &.input {
        margin: auto;
    }

    &.input i {
        font-size: 40px;
        margin: 0 8px;
        cursor: pointer;
    }
    &.input i:hover {
        transform: scale(1.2);
    }

    &.small {
        font-size: 12px;
    }
}
.score_span {
    display: flex;
    align-items: center;
    color: #666 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.input-survey {
    display: flex;

    &-item {
        padding: 0px 8px;
        border: 2px solid #699BF7;
        font-weight: 600;
        text-align: center;
        cursor: pointer;

        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
    }
    &.disabled &-item {
        cursor: default;
    }
}