.opinion {
    display: grid;
    gap: 6px;
    color: #666;
    border-bottom: 1px solid #929292;
    padding: 8px;

    &_top {
        display: flex;
        gap: 12px;
        font-size: 16px;
        font-weight: 600;
    }
    &_bottom {
        font-size: 14px;
        font-weight: 300;
        
        p {
            margin: 0;
        }
    }
}


.score_container {
    display: flex;
    gap: 8px;
}
.score_box {
    display: flex;
    font-size: 16px;
    gap: 4px;

    &.input {
        margin: auto;
    }

    &.input i {
        font-size: 40px;
        margin: 0 8px;
        cursor: pointer;
    }
    &.input i:hover {
        transform: scale(1.2);
    }
}
.score_span {
    display: flex;
    align-items: center;
    color: #666 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}