.section {
    display: grid;
    gap: 8px;
    background-color: white;
    padding: 12px;

    &_title {
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 20px;
        font-weight: 600;

        i {
            display: flex;
            color: #666666;
        }
    }

    &_content {

    }
}

.small {
    font-size: 16px;
}