@import "../../../scss/index.scss";

.job_description {
    display: grid;
    gap: 16px;
    grid-template-columns: 2fr 3fr;
    border-bottom: 0.5px solid #929292;
    padding: 4px 16px;
    padding-bottom: 12px;

    &_place {
        display: grid;
        gap: 2px;

        strong {
            font-size: 14px;
            font-weight: 600;
        }
        span {
            font-size: 14px;
            font-weight: 400;
        }
    }
}
.job_benefits {
    &_p {
        font-size: 14px;
        font-weight: 300;
    }
}

.create-job_section {
    display: grid;
    gap: 16px;
    border-bottom: 0.5px solid #929292;
    grid-auto-flow: column;
    margin-top: 16px;
}