@import "../../../scss/index.scss";

.draw-sign_date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #929292;
    align-items: center;

    i {
        font-size: 18px;
    }
}