@import "../../../scss/index.scss";

.draw-sign_date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #929292;
    align-items: center;

    i {
        font-size: 18px;
        cursor: pointer;
    
        &:hover {
            color: #4882eb;
        }
    }

}

.draw-function {
    display: grid;
    gap: 24px;
    padding: 16px;
    background-color: white;

    &_canva {
        height: 200px;
        border: 1px solid #666;
        border-radius: 4px;
    }
    &_options {
        display: flex;
        gap: 16px;
        justify-content: center;
    }
}